@inherits LayoutComponentBase

<main>
    <div style="width: fit-content; background: #ff939317" class="mx-3 mx-md-auto mb-3 mb-md-0 mt-3 rounded">
        <div class="d-flex flex-column flex-sm-row justify-content-center align-items-center p-3 gap-3">
            <img id="logo" src="favicon.svg" alt="Marek Konečný" style="height: 2.5rem;" />
            <h3 class="m-0 fw-bold text-center text-sm-start" style="color: #ff9393ff">Demo „Lokalizace řezů pro Array Tomography“</h3>
        </div>
    </div>
    <article class="p-1 p-md-5 min-vh-100 d-flex flex-column">
        @Body
    </article>

    <footer class="border-top mt-auto py-3">
        <div class="container text-center text-muted">
            <span>© @CurrentYear Marek Konečný | <a href="https://www.konecnymarek.cz">konecnymarek.cz</a> | <a href="https://github.com/marek-konecny/SliceRecognitionApp">GitHub</a></span>
        </div>
    </footer>
</main>

<div id="blazor-error-ui">
    Nastala nezachycená výjimka.
    <a href="" class="reload">Obnovit</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private int CurrentYear { get; set; }

    protected override void OnInitialized()
    {
        CurrentYear = DateTime.Now.Year;
    }
}